<div class="container">
    <div class="jumbotron mainbg">
        <h1>随手记一笔</h1>
        <br>
        <p><a class="btn btn-primary btn-lg" ng-click="lc.addRecord()" role="button"><i class="glyphicon-plus glyphicon"></i> 记一笔</a></p>
    </div>
    <table class="table table-hover" ng-show="lc.records.length>0">
        <thead>
            <tr>
                <th ng-repeat="header in lc.headers">
                    <a href="javascript:;" ng-click="columnSort.sortColumn=headers[$index];columnSort.reverse=!columnSort.reverse" ng-bind="header"></a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="record in lc.records | orderBy:'time':true" ng-class="lc.typeStyle(record.type)">
                <td ng-bind="record.type"></td>
                <td ng-bind="record.money | currency:'￥'"></td>
                <td ng-bind="record.time | date:'yyyy/MM/dd'"></td>
                <td>
                    <a href="javascript:;" class="btn btn-info" ng-click="lc.viewRecord(record)"><i class="glyphicon-eye-open glyphicon"></i> 查看</a>
                    <a href="javascript:;" class="btn btn-warning" ng-click="lc.editRecord(record)"><i class="glyphicon-pencil glyphicon"></i> 修改</a>
                    <a href="javascript:;" class="btn btn-danger" ng-click="lc.deleteRecord(record)"><i class="glyphicon-trash glyphicon"></i> 删除</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- add record modal -->
<script type="text/ng-template" id="addOrUpdateModal">
    <form role="form" class="form-horizontal" ng-submit="arc.addOrUpdate()">
        <div modal="addOrUpdateModal">
            <div class="modal-header">
                <h3><i class="glyphicon glyphicon-pencil"></i>&nbsp;&nbsp;{{arc.title}}</h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="inputMoney" class="col-sm-2 control-label">￥</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputMoney" ng-model="arc.record.money" name="money" placeholder="0.00" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputType" class="col-sm-2 control-label">支出/收入</label>
                    <div class="col-sm-6">
                        <div id="inputType" class="btn-group" uib-dropdown>
                            <button type="button" class="btn btn-default" uib-dropdown-toggle>
                                {{arc.selectedType}} <span class="caret"></span>
                            </button>
                            <ul class="uib-dropdown-menu" role="menu">
                                <li role="menuitem" ng-repeat="type in arc.types">
                                    <a href="javascript:;" ng-click="arc.changeType(type)" ng-bind="type"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="inputTime">时间</label>
                    <div class="col-sm-6">
                        <p class="input-group">
                            <input type="text" id="inputTime" ng-model="arc.record.time" name="time" class="form-control" uib-datepicker-popup="yyyy/MM/dd" is-open="arc.datePickerOpened" close-text="Close" required />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="arc.openDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="inputCategory">用途</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputCategory" ng-model="arc.record.category" name="category" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="inputCard">支付方式</label>
                    <div class="col-sm-6">
                        <div id="inputCard" class="btn-group" uib-dropdown>
                            <button type="button" class="btn btn-default" uib-dropdown-toggle>
                                {{arc.selectedCard}} <span class="caret"></span>
                            </button>
                            <ul class="uib-dropdown-menu" role="menu">
                                <li role="menuitem" ng-repeat="card in arc.cards">
                                    <a href="javascript:;" ng-bind="card.name" ng-click="arc.changeCard(card.name)"></a>
                                </li>
                                <li class="divider"></li>
                                <li role="menuitem text-center">
                                    <div class="text-center">
                                        <button type="button" class="btn btn-primary" ng-click="arc.addCard($event)">
                                            <i class="glyphicon-plus glyphicon"></i> 新增
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="inputMemo">备注</label>
                    <div class="col-sm-6">
                        <textarea class="form-control" id="inputMemo" ng-model="arc.record.memo" name="memo"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-info"><i class="icon-plus icon-white"></i> 保存</button>
                <button class="btn btn-warning cancel" ng-click="arc.cancel()">取消</button>
            </div>
        </div>
    </form>
</script>
<!-- delete record modal -->
<script type="text/ng-template" id="deleteRecordModal">
    <div modal="recordDelete">
        <div class="modal-header">
            {{drc.time | date:'yyyy/MM/dd'}}&nbsp;&nbsp;{{drc.type}}&nbsp;&nbsp;{{drc.money | currency:'￥'}}
        </div>
        <div class="modal-body">
            <h3>您确定要删除该项记录吗？</h3>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger ok" ng-click="drc.deleteRecord()">删除</button>
            <button class="btn btn-warning cancel" ng-click="drc.cancel()">取消</button>
        </div>
    </div>
</script>
<!-- view record modal -->
<script type="text/ng-template" id="viewRecordModal">
    <div modal="recordView">
        <div class="modal-header">
            <h3>{{vrc.record.type}}</h3>
        </div>
        <div class="modal-body">
            <dl class="dl-horizontal">
                <dt ng-repeat="header in vrc.headers">{{header}}：</dt>
                <dd ng-bind="vrc.record.money|currency:'￥'"></dd>
                <dd ng-bind="vrc.record.time|date:'yyyy/MM/dd'"></dd>
                <dd ng-bind="vrc.record.category"></dd>
                <dd ng-bind="vrc.record.card"></dd>
                <dd ng-bind="vrc.record.memo || '-'"></dd>
            </dl>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="vrc.cancel()">关闭</button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="addCardModal">
    <div modal="addCard">
        <div class="modal-header">
            <h3>新增账户</h3>
        </div>
        <div class="modal-body">
            <form role="form" class="form-horizontal">
                <div class="form-group">
                    <label for="inputNewCard" class="col-sm-2 control-label">账户名：</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="inputNewCard" ng-model="acc.cardName">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info" ng-click="acc.addCard()">保存</button>
            <button type="button" class="btn btn-warning" ng-click="acc.cancel()">取消</button>
        </div>
    </div>
</script>
